node_modules/
/otdelkadesign.ru/vendor/
/otdelkadesign.ru/vendor_old/
/otdelkadesign.ru/runtime/
/otdelkadesign.ru/webstat/
/otdelkadesign.ru/uploads/
/otdelkadesign.ru/assets/
!/otdelkadesign.ru/assets/css*
!/otdelkadesign.ru/assets/img*
!/otdelkadesign.ru/assets/js*
.sass-cache
dploy.yaml
!.htaccess
/otdelkadesign.ru/app/config/db.php